/* General Styling */
body {
  font-family: Arial, sans-serif;
  color: #4b0082;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

label {
  margin-right: 10px;
}

input[type="range"] {
  margin: 0 10px 20px 0;
}

table {
  margin: auto;
}

td {
  border: 1px solid #000;
  padding: 5px; /* Smaller padding for smaller cells */
  text-align: center;
  width: 40px; /* Set fixed width */
  height: 40px; /* Set fixed height */
}

.range-controllers{
  margin-top: 10%;
}